<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Constants</key>
	<dict>
		<key>Chartboost</key>
		<dict>
			<key>appID</key>
			<string>52c2732af8975c3013bd3ca5</string>
			<key>appSignature</key>
			<string>3fe5e28cfce68751da94b940016d5f36df87b62e</string>
		</dict>
		<key>CustomPopup</key>
		<dict>
			<key>cancelButtonText</key>
			<string>Cancel</string>
			<key>message</key>
			<string>Testing Message !!!</string>
			<key>okButtonText</key>
			<string>Ok</string>
			<key>title</key>
			<string>Testing Title !!!</string>
			<key>urls</key>
			<array>
				<string>http://google.com</string>
				<string>http://yahoo.com</string>
				<string>http://facebook.com</string>
			</array>
		</dict>
		<key>Flurry</key>
		<dict>
			<key>appID</key>
			<string>7YZXQHZZ2XJ384KWMVGB</string>
		</dict>
		<key>Mopub</key>
		<dict>
			<key>adUnitCustomRect</key>
			<string>{{0, 0}, {200, 200}}</string>
			<key>adUnitIDBanner</key>
			<string></string>
			<key>adUnitIDFullscreen</key>
			<string></string>
			<key>adUnitIDMedium</key>
			<string></string>
		</dict>
		<key>Revmob</key>
		<dict>
			<key>appID</key>
			<string></string>
		</dict>
		<key>Tapjoy</key>
		<dict>
			<key>appID</key>
			<string></string>
			<key>appSecretKey</key>
			<string></string>
		</dict>
		<key>itunesAppID</key>
		<string></string>
		<key>AppLovin</key>
		<dict>
			<key>sdkKey</key>
			<string></string>
		</dict>
		<key>PlayHaven</key>
		<dict>
			<key>appID</key>
			<string></string>
			<key>appSecretKey</key>
			<string></string>
		</dict>
		<key>Adwo</key>
		<dict>
			<key>sdkKey</key>
			<string></string>
		</dict>
		<key>Domob</key>
		<dict>
			<key>publisherId</key>
			<string>56OJwxNYuNJ0rXVpU9</string>
			<key>bannerPlacementId</key>
			<string>16TLuXpaApEAiNU-8geDoQRi</string>
			<key>interstitialPlacementId</key>
			<string>16TLuXpaApEAiNU-8PbmyBXz</string>
			<key>splashAdPlacementId</key>
			<string>16TLuXpaApEAiNU-8oo-0G8s</string>
		</dict>
	</dict>
	<key>Setup</key>
	<dict>
		<key>Banner</key>
		<dict>
			<key>OnBecomeActive</key>
			<dict>
				<key>mopubBanner</key>
				<integer>0</integer>
				<key>revmobBanner</key>
				<integer>0</integer>
				<key>showAfterCount</key>
				<integer>0</integer>
			</dict>
			<key>OnGameOver</key>
			<dict>
				<key>mopubBanner</key>
				<integer>0</integer>
				<key>revmobBanner</key>
				<integer>0</integer>
				<key>adwoBanner</key>
				<integer>0</integer>
				<key>showAfterCount</key>
				<integer>0</integer>
			</dict>
			<key>OnLevelsMenu</key>
			<dict>
				<key>mopubBanner</key>
				<integer>0</integer>
				<key>revmobBanner</key>
				<integer>0</integer>
				<key>applovinBanner</key>
				<integer>0</integer>
				<key>adwoBanner</key>
				<integer>0</integer>
				<key>domobBanner</key>
				<integer>1</integer>
				<key>showAfterCount</key>
				<integer>1</integer>
			</dict>
			<key>OnMainMenu</key>
			<dict>
				<key>mopubBanner</key>
				<integer>0</integer>
				<key>adwoBanner</key>
				<integer>0</integer>
				<key>domobBanner</key>
				<integer>1</integer>
				<key>revmobBanner</key>
				<integer>0</integer>
				<key>applovinBanner</key>
				<integer>0</integer>
				<key>showAfterCount</key>
				<integer>1</integer>
			</dict>
			<key>OnPauseMenu</key>
			<dict>
				<key>mopubBanner</key>
				<integer>0</integer>
				<key>revmobBanner</key>
				<integer>0</integer>
				<key>adwoBanner</key>
				<integer>0</integer>
				<key>domobBanner</key>
				<integer>0</integer>
				<key>showAfterCount</key>
				<integer>0</integer>
			</dict>
			<key>OnPlaying</key>
			<dict>
				<key>mopubBanner</key>
				<integer>0</integer>
				<key>revmobBanner</key>
				<integer>0</integer>
				<key>adwoBanner</key>
				<integer>0</integer>
				<key>showAfterCount</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>NagScreen</key>
		<dict>
			<key>OnSplash</key>
			<dict>
				<key>domobSplash</key>
				<integer>0</integer>
				<key>chartboost</key>
				<integer>0</integer>
				<key>playhavenFullscreen</key>
				<integer>0</integer>
				<key>applovinFullscreen</key>
				<integer>0</integer>
				<key>customPopup</key>
				<integer>0</integer>
				<key>mopubFullscreen</key>
				<integer>0</integer>
				<key>revmobFullscreen</key>
				<integer>0</integer>
				<key>revmobPopup</key>
				<integer>0</integer>
				<key>showAfterCount</key>
				<integer>0</integer>
			</dict>
			<key>OnBecomeActive</key>
			<dict>
				<key>chartboost</key>
				<integer>0</integer>
				<key>playhavenFullscreen</key>
				<integer>0</integer>
				<key>applovinFullscreen</key>
				<integer>0</integer>
				<key>customPopup</key>
				<integer>0</integer>
				<key>mopubFullscreen</key>
				<integer>0</integer>
				<key>revmobFullscreen</key>
				<integer>0</integer>
				<key>revmobPopup</key>
				<integer>0</integer>
				<key>domobFullscreen</key>
				<integer>0</integer>
				<key>adwoFullscreen</key>
				<integer>0</integer>
				<key>showAfterCount</key>
				<integer>0</integer>
			</dict>
			<key>OnGameOver</key>
			<dict>
				<key>applovinFullscreen</key>
				<integer>0</integer>
				<key>playhavenFullscreen</key>
				<integer>0</integer>
				<key>chartboost</key>
				<integer>0</integer>
				<key>customPopup</key>
				<integer>0</integer>
				<key>mopubFullscreen</key>
				<integer>0</integer>
				<key>revmobFullscreen</key>
				<integer>0</integer>
				<key>revmobPopup</key>
				<integer>0</integer>
				<key>domobFullscreen</key>
				<integer>1</integer>
				<key>adwoFullscreen</key>
				<integer>0</integer>
				<key>showAfterCount</key>
				<integer>1</integer>
			</dict>
			<key>OnLevelsMenu</key>
			<dict>
				<key>applovinFullscreen</key>
				<integer>0</integer>
				<key>chartboost</key>
				<integer>0</integer>
				<key>customPopup</key>
				<integer>0</integer>
				<key>mopubFullscreen</key>
				<integer>0</integer>
				<key>revmobFullscreen</key>
				<integer>0</integer>
				<key>revmobPopup</key>
				<integer>0</integer>
				<key>adwoFullscreen</key>
				<integer>0</integer>
				<key>domobFullscreen</key>
				<integer>0</integer>
				<key>showAfterCount</key>
				<integer>0</integer>
			</dict>
			<key>OnMainMenu</key>
			<dict>
				<key>applovinFullscreen</key>
				<integer>0</integer>
				<key>adwoFullscreen</key>
				<integer>0</integer>
				<key>domobFullscreen</key>
				<integer>1</integer>
				<key>playhavenFullscreen</key>
				<integer>0</integer>
				<key>chartboost</key>
				<integer>0</integer>
				<key>customPopup</key>
				<integer>0</integer>
				<key>mopubFullscreen</key>
				<integer>0</integer>
				<key>revmobFullscreen</key>
				<integer>0</integer>
				<key>revmobPopup</key>
				<integer>0</integer>
				<key>showAfterCount</key>
				<integer>1</integer>
			</dict>
			<key>OnPauseMenu</key>
			<dict>
				<key>chartboost</key>
				<integer>0</integer>
				<key>playhavenFullscreen</key>
				<integer>0</integer>
				<key>applovinFullscreen</key>
				<integer>0</integer>
				<key>customPopup</key>
				<integer>0</integer>
				<key>mopubFullscreen</key>
				<integer>0</integer>
				<key>revmobFullscreen</key>
				<integer>0</integer>
				<key>revmobPopup</key>
				<integer>0</integer>
				<key>adwoFullscreen</key>
				<integer>0</integer>
				<key>domobFullscreen</key>
				<integer>1</integer>
				<key>showAfterCount</key>
				<integer>1</integer>
			</dict>
			<key>OnPlaying</key>
			<dict>
				<key>chartboost</key>
				<integer>0</integer>
				<key>playhavenFullscreen</key>
				<integer>0</integer>
				<key>customPopup</key>
				<integer>0</integer>
				<key>mopubFullscreen</key>
				<integer>0</integer>
				<key>revmobFullscreen</key>
				<integer>0</integer>
				<key>revmobPopup</key>
				<integer>0</integer>
				<key>showAfterCount</key>
				<integer>0</integer>
			</dict>
			<key>OnMoreGame</key>
			<dict>
				<key>chartboostMoreGame</key>
				<integer>1</integer>
				<key>playHavenMoreGame</key>
				<integer>0</integer>
				<key>showAfterCount</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
